
body {
  font-family: "Helvetica";
  font-size: 12px;
}
header {
  color: purple;
  background-color: #B4F012;
  text-align: center;
  height: 30%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
}

#navbar {
  border: 1px solid black;
}
header > h1 {
  border: 1px solid black;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

div :nth-child(2) {
  padding-right: 20%;
}
