
body {
 font-family: "Helvetica";
 font-size: 18px;
}
header {
 color: purple;
 background-color: #B4F012;
 text-align: center;
 height: 40%;
 width: 100%;

 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.across {
 display: inline;
}
