
body {
  font-family: "Helvetica";
  font-size: 12px;
}
header {
  color: purple;
  background-color: #B4F012;
  text-align: center;
  height: 30%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#navbar {
  margin: auto;
  border: 2px solid #000000;
}
header > h1 {
  font-size: 126px
}

ul {
  list-style-type: none;
  font-size: 10px
}

li {
  display: inline-block;;
  border: 2px solid #000000;
  border-radius: 5px 5px;
  background-color: #cc0323
  margin: auto;
}
